@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: blue;
    color: white;
    margin: 0;
}

.counter-container {
    margin: 30px 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 580px) {
    body {
        flex-direction: column;
    }
}